In [213]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
#ls

In [240]:
cd gdrive

[Errno 2] No such file or directory: 'gdrive'
/content/gdrive/My Drive

In [241]:
ls

 2.jpg
 airquality.csv
 camvid/
 Classroom/
'Colab Notebooks'/
 convert-jpg-to-pdf.net_2019-05-06_16-26-33.pdf
 credit.csv
 credit_suisse_resume.odt
 dataset/
 dataset1/
 dataset1.zip
 demo/
 Fake.csv
 fake.ipynb
 fb.csv
 football.mp4
'Gmail - Booking Confirmation on IRCTC, Train- 11077, 09-Nov-2017, SL, PUNE - NDLS.pdf'
'HARISHTOMAR_InternshalaResume - HARISH TOMAR.pdf'
 HARISHTOMAR_InternshalaResume.pdf
 HE_Challenge_data/
 homeprices.csv
 house.zip
 imagelabeling/
 LOR.pdf
 OSVOS-master/
 output.png
 README.md
'Resume(F) (1).pdf'
'Resume(F).pdf'
'resume(personal).docx'
 segmentation.ipynb
'sp (1).zip'
 sp.zip
 summer_internship_evaluation_schedule.xlsx
 True.csv
 Untitled0.ipynb
 Untitled1.ipynb
 Untitled2.ipynb
 Untitled4.ipynb
'Untitled Diagram (1).drawio'
'Untitled Diagram.drawio'
 vgg16.ckpt_config.json
 vgg16_weights_tf_dim_ordering_tf_kernels_notop.h5
 vgg17.ckpt.0
 vgg17.ckpt.1
 vgg17.ckpt_config.json
 vgg_unet_1.0
 vgg_unet_1.1
 vgg_unet_1.2
 vgg_unet_1.3
 vgg_unet_1.4
 vgg_unet_1_config.json
 video.zip
'wpr 2 (1).docx'

In [242]:
cd My Drive

[Errno 2] No such file or directory: 'My Drive'
/content/gdrive/My Drive

In [243]:
ls

 2.jpg
 airquality.csv
 camvid/
 Classroom/
'Colab Notebooks'/
 convert-jpg-to-pdf.net_2019-05-06_16-26-33.pdf
 credit.csv
 credit_suisse_resume.odt
 dataset/
 dataset1/
 dataset1.zip
 demo/
 Fake.csv
 fake.ipynb
 fb.csv
 football.mp4
'Gmail - Booking Confirmation on IRCTC, Train- 11077, 09-Nov-2017, SL, PUNE - NDLS.pdf'
'HARISHTOMAR_InternshalaResume - HARISH TOMAR.pdf'
 HARISHTOMAR_InternshalaResume.pdf
 HE_Challenge_data/
 homeprices.csv
 house.zip
 imagelabeling/
 LOR.pdf
 OSVOS-master/
 output.png
 README.md
'Resume(F) (1).pdf'
'Resume(F).pdf'
'resume(personal).docx'
 segmentation.ipynb
'sp (1).zip'
 sp.zip
 summer_internship_evaluation_schedule.xlsx
 True.csv
 Untitled0.ipynb
 Untitled1.ipynb
 Untitled2.ipynb
 Untitled4.ipynb
'Untitled Diagram (1).drawio'
'Untitled Diagram.drawio'
 vgg16.ckpt_config.json
 vgg16_weights_tf_dim_ordering_tf_kernels_notop.h5
 vgg17.ckpt.0
 vgg17.ckpt.1
 vgg17.ckpt_config.json
 vgg_unet_1.0
 vgg_unet_1.1
 vgg_unet_1.2
 vgg_unet_1.3
 vgg_unet_1.4
 vgg_unet_1_config.json
 video.zip
'wpr 2 (1).docx'

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('imagelabeling/dataset/train.csv')

In [415]:
df.head(4)

            Image   Class
0   image7042.jpg    Food
1   image3327.jpg    misc
2  image10335.jpg  Attire
3   image8019.jpg    Food

In [0]:
from keras.preprocessing import image

In [0]:
from tqdm import tqdm

In [418]:
import numpy as np
train_image = []
for i in tqdm(range(df.shape[0])):
  img = image.load_img('imagelabeling/dataset/Train Images/' + df['Image'][i] , target_size = (28,28,1),grayscale = True)
  img = image.img_to_array(img)
  img = img/255
  train_image.append(img)
X = np.array(train_image)

  0%|          | 0/5983 [00:00<?, ?it/s]/usr/local/lib/python3.6/dist-packages/keras_preprocessing/image/utils.py:104: UserWarning: grayscale is deprecated. Please use color_mode = "grayscale"
  warnings.warn('grayscale is deprecated. Please use '


  1%|          | 51/5983 [00:00<00:11, 507.70it/s]

  2%|▏         | 104/5983 [00:00<00:11, 512.86it/s]

  3%|▎         | 156/5983 [00:00<00:11, 513.55it/s]

  4%|▎         | 211/5983 [00:00<00:11, 521.81it/s]

  4%|▍         | 265/5983 [00:00<00:10, 524.61it/s]

  5%|▌         | 316/5983 [00:00<00:10, 518.17it/s]

  6%|▌         | 369/5983 [00:00<00:11, 509.23it/s]

  7%|▋         | 420/5983 [00:00<00:10, 506.97it/s]

  8%|▊         | 472/5983 [00:00<00:10, 509.52it/s]

  9%|▊         | 521/5983 [00:01<00:10, 498.61it/s]

 10%|▉         | 572/5983 [00:01<00:10, 501.36it/s]

 10%|█         | 622/5983 [00:01<00:10, 497.15it/s]

 11%|█         | 673/5983 [00:01<00:10, 500.83it/s]

 12%|█▏        | 726/5983 [00:01<00:10, 506.43it/s]

 13%|█▎        | 777/5983 [00:01<00:10, 503.56it/s]

 14%|█▍        | 829/5983 [00:01<00:10, 507.40it/s]

 15%|█▍        | 880/5983 [00:01<00:10, 494.94it/s]

 16%|█▌        | 932/5983 [00:01<00:10, 500.48it/s]

 16%|█▋        | 983/5983 [00:01<00:10, 486.17it/s]

 17%|█▋        | 1033/5983 [00:02<00:10, 488.90it/s]

 18%|█▊        | 1086/5983 [00:02<00:09, 498.60it/s]

 19%|█▉        | 1138/5983 [00:02<00:09, 504.68it/s]

 20%|█▉        | 1189/5983 [00:02<00:09, 496.95it/s]

 21%|██        | 1242/5983 [00:02<00:09, 505.50it/s]

 22%|██▏       | 1294/5983 [00:02<00:09, 507.15it/s]

 23%|██▎       | 1347/5983 [00:02<00:09, 511.43it/s]

 23%|██▎       | 1399/5983 [00:02<00:09, 508.19it/s]

 24%|██▍       | 1451/5983 [00:02<00:08, 511.42it/s]

 25%|██▌       | 1503/5983 [00:02<00:08, 505.23it/s]

 26%|██▌       | 1554/5983 [00:03<00:09, 470.32it/s]

 27%|██▋       | 1606/5983 [00:03<00:09, 483.01it/s]

 28%|██▊       | 1659/5983 [00:03<00:08, 494.31it/s]

 29%|██▊       | 1711/5983 [00:03<00:08, 498.84it/s]

 29%|██▉       | 1762/5983 [00:03<00:08, 499.44it/s]

 30%|███       | 1813/5983 [00:03<00:08, 497.82it/s]

 31%|███       | 1865/5983 [00:03<00:08, 502.98it/s]

 32%|███▏      | 1916/5983 [00:03<00:08, 491.74it/s]

 33%|███▎      | 1969/5983 [00:03<00:08, 500.29it/s]

 34%|███▍      | 2023/5983 [00:04<00:07, 510.52it/s]

 35%|███▍      | 2076/5983 [00:04<00:07, 514.85it/s]

 36%|███▌      | 2128/5983 [00:04<00:07, 509.07it/s]

 36%|███▋      | 2182/5983 [00:04<00:07, 515.43it/s]

 37%|███▋      | 2235/5983 [00:04<00:07, 519.08it/s]

 38%|███▊      | 2289/5983 [00:04<00:07, 525.04it/s]

 39%|███▉      | 2342/5983 [00:04<00:06, 524.35it/s]

 40%|████      | 2396/5983 [00:04<00:06, 527.79it/s]

 41%|████      | 2450/5983 [00:04<00:06, 530.44it/s]

 42%|████▏     | 2504/5983 [00:04<00:06, 531.85it/s]

 43%|████▎     | 2558/5983 [00:05<00:06, 524.15it/s]

 44%|████▎     | 2611/5983 [00:05<00:06, 512.22it/s]

 45%|████▍     | 2664/5983 [00:05<00:06, 516.40it/s]

 45%|████▌     | 2717/5983 [00:05<00:06, 519.48it/s]

 46%|████▋     | 2770/5983 [00:05<00:06, 514.87it/s]

 47%|████▋     | 2822/5983 [00:05<00:06, 510.55it/s]

 48%|████▊     | 2874/5983 [00:05<00:06, 512.29it/s]

 49%|████▉     | 2928/5983 [00:05<00:05, 518.60it/s]

 50%|████▉     | 2980/5983 [00:05<00:05, 514.31it/s]

 51%|█████     | 3032/5983 [00:05<00:05, 511.95it/s]

 52%|█████▏    | 3084/5983 [00:06<00:05, 509.92it/s]

 52%|█████▏    | 3137/5983 [00:06<00:05, 514.25it/s]

 53%|█████▎    | 3189/5983 [00:06<00:05, 515.46it/s]

 54%|█████▍    | 3241/5983 [00:06<00:05, 515.19it/s]

 55%|█████▌    | 3293/5983 [00:06<00:05, 503.58it/s]

 56%|█████▌    | 3344/5983 [00:06<00:05, 498.79it/s]

 57%|█████▋    | 3397/5983 [00:06<00:05, 506.33it/s]

 58%|█████▊    | 3449/5983 [00:06<00:04, 509.32it/s]

 59%|█████▊    | 3503/5983 [00:06<00:04, 516.30it/s]

 59%|█████▉    | 3557/5983 [00:06<00:04, 521.30it/s]

 60%|██████    | 3610/5983 [00:07<00:04, 508.01it/s]

 61%|██████    | 3661/5983 [00:07<00:04, 508.46it/s]

 62%|██████▏   | 3713/5983 [00:07<00:04, 511.02it/s]

 63%|██████▎   | 3766/5983 [00:07<00:04, 515.33it/s]

 64%|██████▍   | 3820/5983 [00:07<00:04, 519.09it/s]

 65%|██████▍   | 3874/5983 [00:07<00:04, 522.36it/s]

 66%|██████▌   | 3927/5983 [00:07<00:03, 519.82it/s]

 67%|██████▋   | 3981/5983 [00:07<00:03, 524.22it/s]

 67%|██████▋   | 4034/5983 [00:07<00:03, 525.83it/s]

 68%|██████▊   | 4087/5983 [00:08<00:03, 524.45it/s]

 69%|██████▉   | 4140/5983 [00:08<00:03, 507.51it/s]

 70%|███████   | 4193/5983 [00:08<00:03, 513.11it/s]

 71%|███████   | 4247/5983 [00:08<00:03, 519.05it/s]

 72%|███████▏  | 4302/5983 [00:08<00:03, 527.12it/s]

 73%|███████▎  | 4355/5983 [00:08<00:03, 515.81it/s]

 74%|███████▎  | 4407/5983 [00:08<00:03, 512.75it/s]

 75%|███████▍  | 4459/5983 [00:08<00:03, 502.51it/s]

 75%|███████▌  | 4510/5983 [00:08<00:03, 488.26it/s]

 76%|███████▌  | 4559/5983 [00:08<00:03, 471.12it/s]

 77%|███████▋  | 4607/5983 [00:09<00:02, 463.80it/s]

 78%|███████▊  | 4654/5983 [00:09<00:02, 454.02it/s]

 79%|███████▊  | 4700/5983 [00:09<00:02, 447.04it/s]

 79%|███████▉  | 4747/5983 [00:09<00:02, 451.78it/s]

 80%|████████  | 4793/5983 [00:09<00:02, 444.73it/s]

 81%|████████  | 4838/5983 [00:09<00:02, 442.07it/s]

 82%|████████▏ | 4884/5983 [00:09<00:02, 445.57it/s]

 82%|████████▏ | 4930/5983 [00:09<00:02, 448.84it/s]

 83%|████████▎ | 4975/5983 [00:09<00:02, 447.58it/s]

 84%|████████▍ | 5020/5983 [00:10<00:02, 444.92it/s]

 85%|████████▍ | 5065/5983 [00:10<00:02, 442.68it/s]

 85%|████████▌ | 5110/5983 [00:10<00:02, 431.75it/s]

 86%|████████▌ | 5155/5983 [00:10<00:01, 435.48it/s]

 87%|████████▋ | 5199/5983 [00:10<00:01, 436.27it/s]

 88%|████████▊ | 5243/5983 [00:10<00:01, 432.60it/s]

 88%|████████▊ | 5289/5983 [00:10<00:01, 440.21it/s]

 89%|████████▉ | 5334/5983 [00:10<00:01, 435.30it/s]

 90%|████████▉ | 5378/5983 [00:10<00:01, 431.24it/s]

 91%|█████████ | 5423/5983 [00:10<00:01, 435.58it/s]

 91%|█████████▏| 5468/5983 [00:11<00:01, 439.64it/s]

 92%|█████████▏| 5513/5983 [00:11<00:01, 434.04it/s]

 93%|█████████▎| 5557/5983 [00:11<00:00, 435.34it/s]

 94%|█████████▎| 5603/5983 [00:11<00:00, 440.35it/s]

 94%|█████████▍| 5648/5983 [00:11<00:00, 440.59it/s]

 95%|█████████▌| 5693/5983 [00:11<00:00, 440.44it/s]

 96%|█████████▌| 5738/5983 [00:11<00:00, 437.44it/s]

 97%|█████████▋| 5782/5983 [00:11<00:00, 435.55it/s]

 97%|█████████▋| 5826/5983 [00:11<00:00, 435.94it/s]

 98%|█████████▊| 5870/5983 [00:11<00:00, 431.60it/s]

 99%|█████████▉| 5914/5983 [00:12<00:00, 426.69it/s]

100%|██████████| 5983/5983 [00:12<00:00, 489.13it/s]

In [419]:
df.dtypes

Image    object
Class    object
dtype: object

In [0]:
res = X.tolist()
#res

In [0]:
df['Images'] = res

In [422]:
df.head(20)

             Image  ...                                             Images
0    image7042.jpg  ...  [[[0.22745098173618317], [0.250980406999588], ...
1    image3327.jpg  ...  [[[0.4000000059604645], [0.3137255012989044], ...
2   image10335.jpg  ...  [[[0.03529411926865578], [0.03529411926865578]...
3    image8019.jpg  ...  [[[0.3019607961177826], [0.250980406999588], [...
4    image2128.jpg  ...  [[[0.658823549747467], [0.658823549747467], [0...
5    image1106.jpg  ...  [[[0.5960784554481506], [0.48627451062202454],...
6    image6750.jpg  ...  [[[0.2666666805744171], [0.22745098173618317],...
7    image5508.jpg  ...  [[[0.3686274588108063], [0.13725490868091583],...
8    image9571.jpg  ...  [[[0.9764705896377563], [1.0], [1.0], [0.99607...
9    image9613.jpg  ...  [[[0.95686274766922], [0.95686274766922], [0.9...
10   image1719.jpg  ...  [[[0.7921568751335144], [0.7411764860153198], ...
11     image61.jpg  ...  [[[0.7568627595901489], [0.8627451062202454], ...
12  image10285.jpg  ...  [[[0.24705882370471954], [0.2705882489681244],...
13    image129.jpg  ...  [[[0.9411764740943909], [0.9411764740943909], ...
14   image6760.jpg  ...  [[[0.24313725531101227], [0.25882354378700256]...
15    image192.jpg  ...  [[[0.35686275362968445], [0.37254902720451355]...
16   image2008.jpg  ...  [[[0.16862745583057404], [0.1725490242242813],...
17   image3892.jpg  ...  [[[0.4313725531101227], [0.32549020648002625],...
18   image9817.jpg  ...  [[[0.29411765933036804], [0.3529411852359772],...
19   image3123.jpg  ...  [[[0.2705882489681244], [0.2705882489681244], ...

[20 rows x 3 columns]

In [0]:
from keras.utils import to_categorical

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [0]:
df['Class'] = le.fit_transform(df['Class'])

In [427]:
df.head(20)

             Image  Class                                             Images
0    image7042.jpg      2  [[[0.22745098173618317], [0.250980406999588], ...
1    image3327.jpg      3  [[[0.4000000059604645], [0.3137255012989044], ...
2   image10335.jpg      0  [[[0.03529411926865578], [0.03529411926865578]...
3    image8019.jpg      2  [[[0.3019607961177826], [0.250980406999588], [...
4    image2128.jpg      0  [[[0.658823549747467], [0.658823549747467], [0...
5    image1106.jpg      3  [[[0.5960784554481506], [0.48627451062202454],...
6    image6750.jpg      2  [[[0.2666666805744171], [0.22745098173618317],...
7    image5508.jpg      2  [[[0.3686274588108063], [0.13725490868091583],...
8    image9571.jpg      2  [[[0.9764705896377563], [1.0], [1.0], [0.99607...
9    image9613.jpg      2  [[[0.95686274766922], [0.95686274766922], [0.9...
10   image1719.jpg      0  [[[0.7921568751335144], [0.7411764860153198], ...
11     image61.jpg      1  [[[0.7568627595901489], [0.8627451062202454], ...
12  image10285.jpg      2  [[[0.24705882370471954], [0.2705882489681244],...
13    image129.jpg      1  [[[0.9411764740943909], [0.9411764740943909], ...
14   image6760.jpg      2  [[[0.24313725531101227], [0.25882354378700256]...
15    image192.jpg      2  [[[0.35686275362968445], [0.37254902720451355]...
16   image2008.jpg      0  [[[0.16862745583057404], [0.1725490242242813],...
17   image3892.jpg      3  [[[0.4313725531101227], [0.32549020648002625],...
18   image9817.jpg      2  [[[0.29411765933036804], [0.3529411852359772],...
19   image3123.jpg      2  [[[0.2705882489681244], [0.2705882489681244], ...

In [428]:
df.dtypes

Image     object
Class      int64
Images    object
dtype: object

In [0]:
y=df['Class'].values
y = to_categorical(y)

In [430]:
y

array([[0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       ...,
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.]], dtype=float32)

In [0]:
df = df.drop('Image',axis=1)

In [432]:
df.head(1)

   Class                                             Images
0      2  [[[0.22745098173618317], [0.250980406999588], ...

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.2)

In [0]:
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten
from keras.layers import Conv2D, MaxPooling2D
model = Sequential()
model.add(Conv2D(32, kernel_size=(3, 3),activation='relu',input_shape=(28,28,1)))
model.add(Conv2D(64, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.25))


model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(4, activation='softmax'))

In [0]:
model.compile(loss='categorical_crossentropy',optimizer='Adam',metrics=['accuracy'])

In [439]:
model.fit(X_train, y_train, epochs=20, validation_data=(X_test, y_test))

Train on 4786 samples, validate on 1197 samples
Epoch 1/20
4786/4786 [==============================] - 14s 3ms/step - loss: 1.2997 - accuracy: 0.3738 - val_loss: 1.2550 - val_accuracy: 0.4135
Epoch 2/20
4786/4786 [==============================] - 14s 3ms/step - loss: 1.2311 - accuracy: 0.4323 - val_loss: 1.2257 - val_accuracy: 0.4294
Epoch 3/20
4786/4786 [==============================] - 14s 3ms/step - loss: 1.1972 - accuracy: 0.4532 - val_loss: 1.1962 - val_accuracy: 0.4762
Epoch 4/20
4786/4786 [==============================] - 14s 3ms/step - loss: 1.1625 - accuracy: 0.4818 - val_loss: 1.1767 - val_accuracy: 0.4829
Epoch 5/20
4786/4786 [==============================] - 14s 3ms/step - loss: 1.1174 - accuracy: 0.5029 - val_loss: 1.1611 - val_accuracy: 0.5029
Epoch 6/20
4786/4786 [==============================] - 14s 3ms/step - loss: 1.0718 - accuracy: 0.5313 - val_loss: 1.1654 - val_accuracy: 0.5071
Epoch 7/20
4786/4786 [==============================] - 14s 3ms/step - loss: 1.0292 - accuracy: 0.5664 - val_loss: 1.1511 - val_accuracy: 0.4954
Epoch 8/20
4786/4786 [==============================] - 14s 3ms/step - loss: 0.9734 - accuracy: 0.5886 - val_loss: 1.1802 - val_accuracy: 0.4987
Epoch 9/20
4786/4786 [==============================] - 14s 3ms/step - loss: 0.9135 - accuracy: 0.6118 - val_loss: 1.1705 - val_accuracy: 0.5046
Epoch 10/20
4786/4786 [==============================] - 14s 3ms/step - loss: 0.8370 - accuracy: 0.6575 - val_loss: 1.2920 - val_accuracy: 0.4987
Epoch 11/20
4786/4786 [==============================] - 14s 3ms/step - loss: 0.7808 - accuracy: 0.6803 - val_loss: 1.2451 - val_accuracy: 0.5079
Epoch 12/20
4786/4786 [==============================] - 14s 3ms/step - loss: 0.7187 - accuracy: 0.7071 - val_loss: 1.2908 - val_accuracy: 0.4946
Epoch 13/20
4786/4786 [==============================] - 14s 3ms/step - loss: 0.6567 - accuracy: 0.7413 - val_loss: 1.3324 - val_accuracy: 0.4745
Epoch 14/20
4786/4786 [==============================] - 14s 3ms/step - loss: 0.6001 - accuracy: 0.7660 - val_loss: 1.4609 - val_accuracy: 0.4662
Epoch 15/20
4786/4786 [==============================] - 14s 3ms/step - loss: 0.5451 - accuracy: 0.7808 - val_loss: 1.4385 - val_accuracy: 0.4770
Epoch 16/20
4786/4786 [==============================] - 14s 3ms/step - loss: 0.4981 - accuracy: 0.8092 - val_loss: 1.5736 - val_accuracy: 0.4904
Epoch 17/20
4786/4786 [==============================] - 14s 3ms/step - loss: 0.4807 - accuracy: 0.7986 - val_loss: 1.5982 - val_accuracy: 0.4921
Epoch 18/20
4786/4786 [==============================] - 17s 3ms/step - loss: 0.4244 - accuracy: 0.8312 - val_loss: 1.5952 - val_accuracy: 0.4703
Epoch 19/20
4786/4786 [==============================] - 14s 3ms/step - loss: 0.3847 - accuracy: 0.8504 - val_loss: 1.7414 - val_accuracy: 0.4879
Epoch 20/20
4786/4786 [==============================] - 14s 3ms/step - loss: 0.3705 - accuracy: 0.8552 - val_loss: 1.8064 - val_accuracy: 0.4745

In [0]:
df1 = pd.read_csv('imagelabeling/dataset/test.csv')

In [441]:
df1.head()

            Image
0   image6245.jpg
1  image10409.jpg
2   image8692.jpg
3  image10517.jpg
4   image2580.jpg

In [442]:
test_image = []
for i in tqdm(range(df1.shape[0])):
  img  = image.load_img('imagelabeling/dataset/Test Images/' + df1['Image'][i] , target_size = (28,28,1),grayscale=True)
  img = image.img_to_array(img)
  img = img/255
  test_image.append(img)

X1 = np.array(test_image)

  0%|          | 0/3219 [00:00<?, ?it/s]/usr/local/lib/python3.6/dist-packages/keras_preprocessing/image/utils.py:104: UserWarning: grayscale is deprecated. Please use color_mode = "grayscale"
  warnings.warn('grayscale is deprecated. Please use '


  2%|▏         | 54/3219 [00:00<00:05, 536.08it/s]

  3%|▎         | 109/3219 [00:00<00:05, 539.73it/s]

  5%|▌         | 168/3219 [00:00<00:05, 552.32it/s]

  7%|▋         | 227/3219 [00:00<00:05, 562.61it/s]

  9%|▉         | 282/3219 [00:00<00:05, 556.08it/s]

 11%|█         | 341/3219 [00:00<00:05, 564.95it/s]

 12%|█▏        | 401/3219 [00:00<00:04, 574.51it/s]

 14%|█▍        | 456/3219 [00:00<00:04, 566.13it/s]

 16%|█▌        | 515/3219 [00:00<00:04, 572.70it/s]

 18%|█▊        | 571/3219 [00:01<00:04, 557.14it/s]

 20%|█▉        | 629/3219 [00:01<00:04, 561.57it/s]

 21%|██▏       | 685/3219 [00:01<00:04, 555.06it/s]

 23%|██▎       | 743/3219 [00:01<00:04, 561.63it/s]

 25%|██▍       | 803/3219 [00:01<00:04, 572.12it/s]

 27%|██▋       | 860/3219 [00:01<00:04, 568.71it/s]

 28%|██▊       | 917/3219 [00:01<00:04, 568.06it/s]

 30%|███       | 976/3219 [00:01<00:03, 572.43it/s]

 32%|███▏      | 1034/3219 [00:01<00:03, 563.17it/s]

 34%|███▍      | 1091/3219 [00:01<00:03, 564.33it/s]

 36%|███▌      | 1150/3219 [00:02<00:03, 570.23it/s]

 38%|███▊      | 1210/3219 [00:02<00:03, 578.40it/s]

 39%|███▉      | 1268/3219 [00:02<00:03, 565.11it/s]

 41%|████      | 1325/3219 [00:02<00:03, 560.97it/s]

 43%|████▎     | 1382/3219 [00:02<00:03, 555.22it/s]

 45%|████▍     | 1444/3219 [00:02<00:03, 571.05it/s]

 47%|████▋     | 1506/3219 [00:02<00:02, 582.42it/s]

 49%|████▊     | 1565/3219 [00:02<00:02, 584.39it/s]

 50%|█████     | 1624/3219 [00:02<00:02, 585.71it/s]

 52%|█████▏    | 1683/3219 [00:02<00:02, 581.26it/s]

 54%|█████▍    | 1743/3219 [00:03<00:02, 584.25it/s]

 56%|█████▌    | 1804/3219 [00:03<00:02, 589.33it/s]

 58%|█████▊    | 1863/3219 [00:03<00:02, 568.38it/s]

 60%|█████▉    | 1923/3219 [00:03<00:02, 575.93it/s]

 62%|██████▏   | 1981/3219 [00:03<00:02, 566.44it/s]

 63%|██████▎   | 2038/3219 [00:03<00:02, 563.10it/s]

 65%|██████▌   | 2097/3219 [00:03<00:01, 569.46it/s]

 67%|██████▋   | 2157/3219 [00:03<00:01, 575.88it/s]

 69%|██████▉   | 2217/3219 [00:03<00:01, 582.16it/s]

 71%|███████   | 2276/3219 [00:03<00:01, 568.67it/s]

 73%|███████▎  | 2335/3219 [00:04<00:01, 573.01it/s]

 74%|███████▍  | 2395/3219 [00:04<00:01, 580.04it/s]

 76%|███████▌  | 2454/3219 [00:04<00:01, 577.29it/s]

 78%|███████▊  | 2515/3219 [00:04<00:01, 586.11it/s]

 80%|███████▉  | 2574/3219 [00:04<00:01, 578.02it/s]

 82%|████████▏ | 2632/3219 [00:04<00:01, 574.41it/s]

 84%|████████▎ | 2691/3219 [00:04<00:00, 576.77it/s]

 85%|████████▌ | 2752/3219 [00:04<00:00, 585.03it/s]

 87%|████████▋ | 2813/3219 [00:04<00:00, 590.39it/s]

 89%|████████▉ | 2874/3219 [00:05<00:00, 593.54it/s]

 91%|█████████ | 2934/3219 [00:05<00:00, 585.61it/s]

 93%|█████████▎| 2996/3219 [00:05<00:00, 592.89it/s]

 95%|█████████▍| 3056/3219 [00:05<00:00, 585.07it/s]

 97%|█████████▋| 3118/3219 [00:05<00:00, 593.49it/s]

100%|██████████| 3219/3219 [00:05<00:00, 575.41it/s]

In [0]:
pred = model.predict_classes(X1)

In [444]:
pred.shape

(3219,)

In [445]:
pred

array([2, 2, 2, ..., 0, 1, 3])

In [0]:
prediction = pred.tolist()

In [0]:
df1['Prediction'] = prediction

In [448]:
df1

               Image  Prediction
0      image6245.jpg           2
1     image10409.jpg           2
2      image8692.jpg           2
3     image10517.jpg           2
4      image2580.jpg           1
...              ...         ...
3214   image4968.jpg           2
3215   image6673.jpg           0
3216   image3442.jpg           0
3217   image8178.jpg           1
3218   image5367.jpg           3

[3219 rows x 2 columns]

In [0]:


df1['Prediction'] = df1['Prediction'].astype(str)

In [450]:
df1.dtypes

Image         object
Prediction    object
dtype: object

In [451]:
df1

               Image Prediction
0      image6245.jpg          2
1     image10409.jpg          2
2      image8692.jpg          2
3     image10517.jpg          2
4      image2580.jpg          1
...              ...        ...
3214   image4968.jpg          2
3215   image6673.jpg          0
3216   image3442.jpg          0
3217   image8178.jpg          1
3218   image5367.jpg          3

[3219 rows x 2 columns]

In [0]:
df1['Prediction'] = df1['Prediction'].replace(to_replace ="0", 
                 value ="Attire") 
df1['Prediction'] = df1['Prediction'].replace(to_replace ="1", 
                 value ="Decorationandsignage") 
df1['Prediction'] = df1['Prediction'].replace(to_replace ="2", 
                 value ="Food") 
df1['Prediction'] = df1['Prediction'].replace(to_replace ="3", 
                 value ="misc")

In [453]:
df1.head(20)

             Image            Prediction
0    image6245.jpg                  Food
1   image10409.jpg                  Food
2    image8692.jpg                  Food
3   image10517.jpg                  Food
4    image2580.jpg  Decorationandsignage
5     image848.jpg                Attire
6    image1232.jpg                  misc
7    image8386.jpg                  misc
8    image9828.jpg                  misc
9    image9033.jpg                  Food
10   image2857.jpg                  misc
11   image7838.jpg                Attire
12   image6337.jpg                  Food
13   image3608.jpg                  misc
14   image9190.jpg                  Food
15   image8586.jpg                  Food
16   image8140.jpg                Attire
17   image8208.jpg                  Food
18   image1052.jpg                  misc
19   image3926.jpg                Attire